.promotion {
    display: flex;
    height: auto;
    margin: 20px 0;
    cursor: pointer;
    &-title {
        font-size: 15px;
        color: rgba($color: #000000, $alpha: 0.7);
        height: auto;
        margin-right: 20px;
    }
    &-content {
        height: auto;
        font-size: 12px;
        padding: 3px 7px;
        background-color: #f57224;
        color: white;
        position: relative;
        &:after {
            position: absolute;
            top: 0;
            right: -7px;
            display: inline-block;
            content: "";
            border-top: 12px solid #ff9800;
            border-bottom: 12px solid #ff9800;
            border-left: 7px solid transparent;
            border-right: 7px solid transparent;
        }
    }
}
