.HeaderBodyCart {
    width: 40px;
    height: 40px;
    position: relative;
    margin-left: -100px;
    &__icon {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 29px;
        height: 26px;
        i {
            color: #262e87;
            font-size: 24px;
            height: auto;
        }
    }
    &__num {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        background-color: #f57224;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        text-align: center;
        line-height: 20px;
        color: white;
        font-size: 12px;
        font-weight: bold;
    }
}
