.cart {
  margin-top: 20px;
  height: auto;
  display: flex;
  justify-content: space-around;
  &__list-item {
    width: 788px;
    height: auto;
  }
}
.Cart__noItem {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba($color: #000000, $alpha: 0.6);
}
