.headerBodySearch {
    width: 688px;
    height: 45px;
    overflow: hidden;
    display: flex;

    input {
        width: 580px;
        height: 45px;
        background-color: #eff0f5;
        outline: none;
        border: none;
        padding: 0 20px;
        font-size: 14px;
        border-radius: 4px 0 0 4px;
    }

    &__button {
        width: 45px;
        height: 45px;
        text-align: center;
        line-height: 45px;
        background-color: #f57224;
        border-radius: 0 4px 4px 0;

        & i {
            color: white;
        }
    }
}
