.headerBody {
    height: 91px;
    margin: 0 auto;
    max-width: 1190px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* header body search */
