.title {
    color: black;
    font-size: 20px;
    height: auto;
}
.rating {
    font-size: 12px;
    height: auto;
    color: #1a9cb7;
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}
.brand {
    font-size: 12px;
    height: auto;
    color: #1a9cb7;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.2);
    height: auto;
    margin-top: 10px;
}
